 <!-- content heading -->
 <% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    // Redirect to the home page if there is no title
    res.redirect('/');
} %>

<!-- message -->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<!-- Register Form -->
<form action="/account/register" method="post">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="account_firstname" required value="<% locals.account_firstname %>">
    
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="account_lastname" required value="<% locals.account_lastname %>">

    <label for="email">Email address:</label>
    <input type="email" id="email" name="account_email" required placeholder="Enter a valid email address" value="<% locals.account_email %>">

    <label for="password">Password:</label>
    <input type="password" id="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    <div>Password requirements:
        <ul>
            <li>at least 12 characters</li>
            <li>at least 1 number</li>
            <li>at least 1 lowercase letter</li>
            <li>at least 1 capital letter</li>
            <li>at least 1 non-alphanumeric character</li>
        </ul> 
    </div>

    <button type="submit">Register</button>
</form>