<h1>Welcome to CSE Motors!</h1>
<img id="background-checkerboard-img" src="/public/images/site/checkerboard.jpg" alt="Checkerboard background">
<div id="floating-window">
    <h2>DMC Delorean</h2>
    <h3>3 Cup holders</h3>
    <h3>Superman doors</h3>
    <h3>Fuzzy dice</h3>
    <button>Own Today</button>
</div>
<img id="delorean-img" src="/public/images/vehicles/delorean.jpg" alt="Delorean">
<div id="upgrades-div">
    <h3>Delorean Upgrades</h3>
    <div id="blue-boxes-container">
        <div class="blue-box">Flux Capacitor <img id="flux-cap" src="/public/images/upgrades/flux-cap.png" alt="Flux Capacitor"></div>
        <div class="blue-box">Flame Decals <img id="flame" src="/public/images/upgrades/flame.jpg" alt="Flame Decals"></div>
        <div class="blue-box">Bumper Stickers <img id="bumber" src="/public/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker"></div>
        <div class="blue-box">Hub Caps <img id="hub-cap" src="/public/images/upgrades/hub-cap.jpg" alt="Hub Cap"></div>
    </div>
</div>
<div id="reviews-div">
    <h3>DMC Delorean Reviews</h3>
    <ul>
        <li>"So fast it's almost like travelling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
    
</div>